#header {
    text-align: center;
    color: #ffff;
    background: #ebc57c;
    font-size: 30px;
    border: 5px solid #ebc57c;
    border-radius: 30px;
    margin:0px 20px 0px 20px;
}

#needtitle {
    text-align: center;
    color: #a6c2ce;
    border-radius: 5%;
    font-size: 30px;
    margin:0px 20px 0px 20px;
}

#musicgirl {
    float:left;
    width:120px;
}

#musicsheet {
    float: right;
    width: 200px;
}

#relaxationpart,#distractionpart{
    display: block;
    text-align: center;
    margin: 10px 0px 0px 0px;
}
@media only screen and (max-width: 768px) {
    
      #musicsheet {
        float: right;
        width: 50px;
    }
    #musicgirl {
        float: left;
        width: 100px;

    }
        #header{
          font-size:20px
        }
        #needtitle{
          font-size:20px
        }
      }
