#header {
    text-align: center;
    color: #ffff;
    background: #ebc57c;
    border-radius: 5%;
    padding: 20px 500px;
    margin: 0 auto;
    font-size: 30px;
    border: 5px solid #ebc57c;
    border-radius: 30px;
    max-width: 800px;
}

#needtitle {
    text-align: center;
    color: #ffff;
    background: #a6c2ce;
    border-radius: 5%;
    padding: 20px 500px;
    margin: 50px auto;
    font-size: 40px;
    border: 5px solid #a6c2ce;
    border-radius: 30px;
    max-width: 600px;
}

#musicgirl {
    float: left;
    width: 200px;
    margin: 0 -500px;
}

#musicsheet {
    float: right;
    width: 200px;
    margin: -150px -500px 0px 0px;
}

#relaxationpart,#distractionpart{
    display: block;
    text-align: center;
    margin: 20px auto;
}
